streamlit
pandas
numpy
matplotlib
plotly
scikit-learn
openpyxl
python-dotenv

google-generativeai

langchain
langchain-core
langchain-community
langchain-google-genai

faiss-cpu

pypdf

beautifulsoup4

requests

ipykernel
seaborn
xgboost
lightgbm
catboost
joblib
pandas
groq
python-dotenv
faiss-cpu
sentence-transformers
pymupdf
streamlit-option-menu